@charset "utf-8";

.nav{
    position: fixed;
    top: 50%;
    right: 1rem;
    margin-top: -117px;
}

.nav-btn{
    width: 15px;
    height: 15px;
    background-color: #fff;
    display: block;
    margin: 1rem;
    text-indent: -9999px;
    opacity: .5;
    transition-duration: .3s;
}

.nav-btn:hover,
.nav-btn-active{
    opacity:1;
}

.nav-btn-index{
background-color: yellow;
    }

.article{
    max-width: 950px;
    padding: 3rem 5rem;
    color: #fff;
    box-sizing: border-box;
}

.article-title{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
}

.article-desc{
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.7;
    text-align: justify;
}

.grid{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 1.5rem;
}

.grid-2{
    grid-template-columns: repeat(2, 1fr);

}

.grid-3{
    grid-template-columns: repeat(3, 1fr);
}

.grid-4{
    grid-template-columns: repeat(4, 1fr);
}

.card{
    position: relative;
    -webkit-box-reflect: below -1px linear-gradient(to top, rgba(0, 0, 0 , .3) 0, transparent 50%);
}

.card-body:hover{
    /* display: flex; */
    opacity: 1;
}

.card-body{
    /* display: none; */
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.card-body .fas{
    font-size: 2rem;
    color: #fff;
}

.card-img{
    max-width: 100%;
    height: auto;
}

.hover-fade-in .card-body {
    opacity: 0;
    transition-duration: .3s;
}

.hover-fade-in:hover .card-body {
    opacity: 1;
}

.hover-fade-out .card-body{
    opacity: 1;
    transition-duration: .3s;
}

.hover-fade-out:hover .card-body{
    opacity: 0;
}

.hover-zoom-in .fas{
    transform: scale(0);
    transition-duration: .3s;
}

.hover-zoom-in:hover .fas{
    transform: scale(1);
}

@media screen and (max-width: 1024px) {
    .article{
        width: 80%;
    }
    
}

@media screen and (max-width: 480px) {
    .nav{
        top:0;
        left:0;
        margin-top: 0;
        display:flex;
        justify-content: center;
        width:100%;
    }
    .nav-active{
        background-color: rgba(0, 0, 0, .3);
    }
    .article{
        padding: 4rem 2rem 2rem;
        width: auto;
    }
    .article-head{
        text-align: center;
    }
    .grid-2{
        grid-template-columns: repeat(2, 1fr);
    }

}



